.container {
	height: auto;
	padding: 30px;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

.header {
	text-align: center;
	margin-bottom: 50px;
	margin-left: 0.6vw;
	font-size: 50px;
	text-align: left;
}

.book {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn1 {
	font-size: 16px;
	text-align: center;
	width: 8vw;
	height: 80px;
	background-color: var(--buttons-color);
	border: 0.5px solid var(--text-color);
	padding: 10px;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
	transition: all 0.5s;
}

.btn0 {
	background-color: var(--buttons-color);
	border: 1px solid var(--text-color);
	width: 30vw;
	font-size: 25px;
	padding: 20px 40px;
	cursor: pointer;
	transition: all 0.5s;
	margin-bottom: 50px;
	margin-left: 0.6vw;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.btn1:hover {
	background-color: var(--buttons-color2);
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
}

.btn0:hover {
	background-color: var(--buttons-color2);
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
}