.classItem {
	font-size: 20px;
	background-color: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	border-radius: 12px;
	border: 1px solid black;
	margin-right: 20px;
	cursor: pointer;
}