.mainHeader {
	font-size: 50px;
	margin: 40px 90px;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
}

.books {
	height: auto;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.classFilter {
	width: 20vw;
	height: 40px;
	text-align: left;
	font-size: 20px;
	background: var(--primary-color);
	margin-bottom: 40px;
	border: 2px dashed #858585;
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
	text-align: center;
}

.authorFilter {
	width: 20vw;
	height: 40px;
	text-align: center;
	font-size: 20px;
	background: var(--primary-color);
	border: 2px dashed #858585;
	margin-bottom: 40px;
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
}

.authorFilter:focus {
	box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.7);
}

.classFilter:focus {
	box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.7);
}


.header {
	margin-bottom: 40px;
	font-size: 40px;
}

.bookContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search {
	width: 40vw;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	margin-top: -15px;
}

.btns {
	font-size: 16px;
	text-align: center;
	width: 8vw;
	height: 80px;
	background: var(--buttons-color);
	padding: 10px;
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.5s;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.btnSearch {
	margin-top: 20px;
	background: var(--buttons-color);
	height: 4.5vh;
	width: 8vw;
	border-radius: 30px;
	font-size: 25px;
	padding: 20px 40px;
	cursor: pointer;
	transition: all 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.btnSearch:hover {
	background: var(--buttons-color2);
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.7);
}

.btns:hover {
	background: var(--buttons-color2);
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.7);
}