* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: rgb(59, 59, 59);
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}


:root {
	--primary-color: rgb(0, 162, 255);
	--primary-color2: rgb(95, 186, 255);
	--buttons-color: orange;
	--buttons-color2: rgb(59, 183, 255);
	--bg-color: rgba(125, 125, 125, 0.872);
	--bg-color2: rgb(154, 154, 154);
	--text-color: rgb(59, 59, 59);
}