* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: rgb(59, 59, 59);
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}


:root {
	--primary-color: rgb(0, 162, 255);
	--primary-color2: rgba(120, 161, 255, 0.781);
	--buttons-color: orange;
	--bg-color: rgb(205, 205, 205);
}