.loader {
	font-size: 10px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 7px dashed rgba(169, 169, 169, 0.657);
	animation: rotate 1.6s infinite linear;
}

.container {
	width: 100%;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
}



@keyframes rotate {
	0% {
		transform: rotate(0deg);
		border: 7px dashed rgba(169, 169, 169, 0.657);
	}

	50% {
		transform: rotate(180deg);
		border: 7px dashed rgba(106, 0, 255, 0.657);
	}

	100% {
		transform: rotate(360deg);
		border: 7px dashed rgba(169, 169, 169, 0.657);
	}
}