.footer {
	display: grid;
	background: linear-gradient(to bottom, rgb(34, 119, 255), rgb(20, 59, 255));
	color: rgb(59, 59, 59);
	padding: 25px 30px;
	gap: 10px 40px;
	font-size: 16px;
	line-height: 20px;
	min-height: 75px;
	grid-template-columns: 1fr auto auto;
}

@media (max-width: 1000px) {
	.footer {
		grid-template-columns: 1fr;
		text-align: center;
	}
}