.head {
	display: grid;
	background-color: var(--primary-color);
	color: rgb(59, 59, 59);
	padding: 25px 30px;
	gap: 10px 50px;
	font-size: 20px;
	line-height: 20px;
	min-height: 75px;
	grid-template-columns: auto 1fr auto auto auto;
	padding-right: 40px;
}

.title {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0);
	font-size: 40px;
	text-decoration: none;
	margin-left: -5px;
}