html,
body {
  margin: 0;
  padding: 0;

  color: var(--white);
  background: #404040;

  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3B434E;
  --white: #FFF;
  --primary: #2f7f01;
  --primary-hover: #659A00;
  --red: #FC836D;
  --board: #01640e;
  --board-light: #4aaf57;
  --font-family: "Noto Sans", sans-serif;
  --gray-light: #EBEBEB;
}