.container {
	font-size: 20px;
	width: 650px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #000;
	background-color: var(--primary-color);
	border-radius: 10px;
	cursor: pointer;
	display: grid;
	grid-template-columns: 300px 300px;
	gap: 10px;
}

.smth {
	padding: 7px 25px;
	background-color: var(--primary-color2);
	border: 0px solid #000;
}