.myModal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
	background: rgba(0, 0, 0, 0.8);
}

.myModalContent {
	padding: 25px;
	background-color: rgba(255, 255, 255, 0.936);
	border-radius: 16px;
	min-width: 80%;
	min-height: 80%;
}

.myModal.active {
	display: flex;
	justify-content: center;
	align-items: center;
}